/*
mixins
*/


@mixin linx ($link, $visit, $hover, $active) {
  a {
	  font-weight: 800;
    color: $link;
    &:visited {
      color: $visit;
    }
    &:hover {
      color: $hover; 
       cursor: pointer;  
    }
    &:active {
      color: $active;
    }
  }
}


@include linx(#0066cc, #0066cc, #a9ab8d, #a9ab8d);



@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}




