<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ConfigFiles" value="~/Platform/Configuration/platform.xml, ~/Host/Configuration/site.xml"/>
    <add key="vs:EnableBrowserLink" value="false"/>
  </appSettings>
  <system.web>
    <authentication configSource="host\configuration\authentication.config"/>
    <customErrors mode="Off"/>
    <sessionState mode="Off"/>
    <compilation targetFramework="4.6.1"/>
    <httpRuntime maxUrlLength="260" maxQueryStringLength="1024" requestPathInvalidCharacters="" requestValidationMode="2.0" targetFramework="4.5.2"/>
    <pages validateRequest="false">
      <controls>
        <add tagPrefix="ns" namespace="NakedSwordWebControls.Common" assembly="NakedSwordWebControls"/>
        <add tagPrefix="nsf" namespace="NakedSwordWebControls.Foundation" assembly="NakedSwordWebControls"/>
        <add tagPrefix="nsfAccount" namespace="NakedSwordWebControls.Foundation.Account" assembly="NakedSwordWebControls"/>
        <add tagPrefix="nsMetrics" namespace="NakedSwordWebControls.Analytics" assembly="NakedSwordWebControls"/>
        <add tagPrefix="nsScriptServices" namespace="NakedSwordWebControls.ScriptServices" assembly="NakedSwordWebControls"/>
        <add tagPrefix="nats" namespace="NakedSwordWebControls.ThirdParty.NATS" assembly="NakedSwordWebControls"/>
        <add tagPrefix="google" namespace="NakedSwordWebControls.ThirdParty.Google" assembly="NakedSwordWebControls"/>
        <add tagPrefix="legacy" namespace="NakedSwordWebControls.Legacy" assembly="NakedSwordWebControls"/>
        <add tagPrefix="admin" namespace="NakedSwordWebControls.Admin" assembly="NakedSwordWebControls"/>
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering allowDoubleEscaping="true"/>
    </security>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <!-- Removed from default Machine.Config settings to improve page pipeline performance. -->
      <remove name="Session"/>
      <remove name="WindowsAuthentication"/>
      <remove name="PassportAuthentication"/>
      <add name="NakedSwordRequestManager" type="NakedSwordAPIClient.RequestManager.NakedSwordRequestManager, NakedSwordAPIClient"/>
    </modules>
    <httpErrors errorMode="Custom" defaultResponseMode="ExecuteURL">
      <remove statusCode="500" subStatusCode="-1"/>
      <remove statusCode="404" subStatusCode="-1"/>
      <error statusCode="404" path="/404" responseMode="ExecuteURL"/>
      <error statusCode="500" prefixLanguageFilePath="" path="/error" responseMode="ExecuteURL"/>
    </httpErrors>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.0.0" newVersion="5.2.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
    </compilers>
  </system.codedom>
</configuration>